<div>
    <label>Edit Listing ({{total}})</label>
    {{#each}}
        <div>
            {{#link-to 'listing' this}}
                {{id}}: {{name}}
            {{/link-to}}

            {{!--
            {{partial 'partials/_listing-link'}}
            {{listing-info listing=this}}
            --}}
        </div>

    {{/each}}
</div>
