<div class="well">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-group-lg">

                <label for="minute-rate">Minute Rate for&nbsp;</label>
                <span>{{name}}:</span>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{input id="minute-rate" type="text" class="form-control" value=minuteRate placeholder="2.99"}}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>Price Per Minute that customers will see:</div>
                            <div>Connection Charges:</div>
                            <div>Our Fee:</div>
                            <div>You will earn (per minute):</div>
                        </div>
                        <div class="col-md-3">
                            <div>${{minuteRate}}</div>
                            <div>$0.00</div>
                            <div>${{ourFee}}</div>
                            <div class="label label-success">${{youWillEarn}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="input-group input-group-lg">
                <label for="category-1"></label>
                <select id="category-1" class="dropdown dropdown-custom">
                    <option>Relationship Coaching</option>
                    <option>Life Coaching</option>
                    <option>Family Coaching</option>
                    <option>Health & Wellness</option>
                </select>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-lg">
                <label for="category-2"></label>
                <select id="category-2" class="dropdown dropdown-custom">
                    <option>Couples</option>
                    <option>Cats</option>
                    <option>Dogs</option>
                    <option>Octopuses</option>
                </select>
            </div>
        </div>
    </div>
</div>
